@import '../../varuables/varuables';

.ticket {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 502px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .price {
      color: $btnBlueColor;
    }

    .logo {
      height: 36px;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    .route,
    .length,
    .stops {
      width: 30%;
    }

    .container {
      margin-top: 10px;
    }

    .city {
      text-transform: uppercase;
      color: $fontLightColor;
      font-size: 12px;
      line-height: 18px;
    }

    .time {
      color: $fontColor;
      font-size: 14px;
      line-height: 21px;
    }
  }
}